<%= render "shared/header", title: @post.title %>

<div class="container">
  <% if @post.image.attached? %>
    <%= image_tag @post.image, class: "img-fluid rounded mt-3" %>
  <% end %>

  <div class="d-flex align-items-center mt-3">
    <div class="btn-group w-100">
      <%= link_to edit_post_path(@post), class: "btn btn-outline-primary" do %>
        <i class="bi bi-pencil"></i>
        Edit
      <% end %>

      <%= link_to post_path(@post), data: {turbo_confirm: "Delete this post?"}, class: "btn btn-outline-danger" do %>
        <i class="bi bi-trash"></i>
        Delete
      <% end %>
    </div>
  </div>

  <p class="text-body-secondary mt-3"><%= @post.body %></p>

  <h2 class="h5 d-flex justify-content-between align-items-center mt-5">
    <span>Comments</span>
    <%= link_to new_post_comment_path(@post), class: "btn btn-outline-primary btn-sm" do %>
      <i class="bi bi-plus"></i>
    <% end %>
  </h2>
</div>

<% if @post.comments.any? %>
  <div class="container list-group list-group-flush px-0">
    <%= render @post.comments %>
  </div>
<% else %>
  <p class="container">No comments, yet.</p>
<% end %>
